h1{
    text-transform: capitalize;
}
td {
    height: 300px;
    vertical-align: bottom;
    padding: 5px;
    text-transform: capitalize;
    text-align: center;
}
#response {
    font-family: courier-new, courier;
}
#podium0, #podium1, #podium2 {
    width: 150px;
    border: 1px solid black;
    font-size: 32px;
    text-align: center;
}
#podium0 { /* gold */
    height: 250px;
    background-color: #ffed00;
}
#podium1 { /* silver */
    height: 200px;
    background-color: #c0c0c0;
}
#podium2 { /* bronze */
    height: 150px;
    background-color: #daa520;
}