.container{
    border-radius: 16px;
    width: 300px;
    border: 1px solid #e6b0b0;
    margin: 16px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 0px 44px 1px rgb(0 0 0 / 61%);
    box-shadow: 0px 0px 44px 1px rgb(0 0 0 / 61%);
    display: inline-block;
}

.sub1{
    height:100px;
    border-radius: 16px 16px 0px 0px;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    text-align: center;
    line-height: 96px;
    font-weight: 700;
    font-size: x-large;
}

.sub2{
    height:100px;
    border-radius: 16px 16px 0px 0px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    text-align: center;
    line-height: 96px;
    font-weight: 700;
    font-size: x-large;
}

.times{
    align-items: center;
    text-align: center;
}

.times img{
    border-radius: 14px;
    margin-top: 5px;
}

td{
    padding: 10px 5px;
    border-top: 1px solid #08AEEA;
    width: 500px;
}

#first{
    border-top: none;
}